@{
    ViewData["Title"] = "Home Page";
}
@model URLShortener.Models.Urlshortener;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>URLShortener, enter yout link and press the button.</p>
    <h3>@ViewBag.ErrorMessage</h3>
    @*<form action="@Url.Action("getURlShortened","Home")" method="post">
            <input type="text" name="url" />
            <input type="submit" value="Submit" />
        </form>*@
    @using (Html.BeginForm("getURlShortened", "Home", FormMethod.Post))
    {
        <div class="my-3">
            @Html.ValidationMessageFor(x => x.UrlMaster)
        </div>
        <div>
            @Html.TextBoxFor(x => x.UrlMaster)
        </div>
        <input class="m-5" type="submit" value="Get your URLShortener" />
    }
</div>
