@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<body>

    <h1>Your Link:</h1>
    <p>your URl link : <a href="@ViewBag.URLMaster" > your link is ready</a> </p>

</body>
</html>