@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<body>

    <h1>Success</h1>
    <p>
        your URl link : <h2>https://localhost:44324/@ViewBag.shortlink</h2>
    </p>

</body>
</html>