USE [master]
GO
/****** Object:  Database [URLShortener]    Script Date: 10/1/2021 5:30:37 PM ******/
CREATE DATABASE [URLShortener]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'URLShortener', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\URLShortener.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'URLShortener_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\URLShortener_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [URLShortener].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [URLShortener]
GO
/****** Object:  Table [dbo].[URLSHORTENER]    Script Date: 10/1/2021 5:30:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URLSHORTENER](
	[urlID] [int] IDENTITY(1,1) NOT NULL,
	[urlMaster] [nvarchar](max) NULL,
	[urlShort] [nvarchar](max) NULL,
 CONSTRAINT [PK_URLSHORTENER] PRIMARY KEY CLUSTERED 
(
	[urlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
